<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Time Slots & Volunteers</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name of Volunteer</th>
        <th>Contact Info</th>
        <th>Date</th>
        <th>Time</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @time_slots.each do |time_slot| %>
        <tr>
          <td><%= time_slot.name %></td>
          <td><%= time_slot.contact_info %></td>
          <td><%= time_slot.start_time %></td>
          <td><%= time_slot.start_time %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= link_to 'Home', root_path %>
</div>
