<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Time Slot Details</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name of Volunteer</th>
        <th>Contact Info</th>
        <th>Time</th>
        <th>Date</th>
        <th>Reserved By</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td><%= @time_slot.name %></td>
          <td><%= @time_slot.contact_info %></td>
          <td><%= @time_slot.start_time.strftime('%I:%M %p') %></td>
          <td><%= @time_slot.start_time.strftime('%A, %B %d') %></td>
          <td><%= @appointment.name %>

      </tr>
  </table>

  <br>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
  <%= link_to 'Back', calendars_path %>

</div>
